{{ partial "global/head" . }}
{{ partial "global/navbar" . }}


<div style="padding-top:50px;padding-bottom:50px;background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url({{ $.Site.Params.cloudinary_url }}{{ .Site.Data.appearance.pages.image }}) no-repeat center; background-size: cover;">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-3 has-text-white">{{ replace .Name "-" " " | title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{{ block "main" . }}

{{ end }}
{{ partial "global/footer.html" . }}