<div class="column">
  <form action="{{ "search" | absURL }}">
    <div class="field">
      <div class="control">
        <input id="search-query" name="s" class="input" placeholder="Search by address, state, zip, city or MLS #" title="Search by address, state, zip, city or MLS #"/>
      </div>
      <div class="control">
        <button class="button mt-2" type="submit">
          Search
        </button>
      </div>
    </div>
  </form>  
    <div class="search-filter mb-6 mt-6">
      <h2 class="subtitle is-6 mb-2">Filter City</h2>
        <ul>
            {{ range $city, $taxonomy := .Site.Taxonomies.city }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/city{{ $city | urlize | relURL }}" class="secondary-btn">{{ $city | humanize }}</a>
          </li>
          {{end}}
  
        </ul>
    </div>
    <div class="search-filter mb-6">
      <h2 class="subtitle is-6 mb-2">Filter State</h2>
        <ul>
            {{ range $state, $taxonomy := .Site.Taxonomies.state }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/state{{ $state | urlize | relURL }}" class="secondary-btn">{{ $state | humanize }}</a>
          </li>
          {{end}}
  
        </ul>
    </div>
    <div class="search-filter mb-6">
      <h2 class="subtitle is-6 mb-2">Filter Zip Code</h2>
        <ul>
            {{ range $zip, $taxonomy := .Site.Taxonomies.zip }}
          <li>
            <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/zip{{ $zip | urlize | relURL }}" class="secondary-btn">{{ $zip }}</a>
          </li>
          {{end}}
  
        </ul>
    </div>
    <div class="search-filter mb-6">
        <h2 class="subtitle is-6 mb-2">Search by Property Type</h2>
          <ul>
              {{ range $prop, $taxonomy := .Site.Taxonomies.property }}
            <li>
              <i class="fas fa-angle-right" style="margin-right: 10px"></i><a href="/property{{ $prop | urlize | relURL }}" class="secondary-btn" style="text-transform:capitalize">{{ $prop }}</a>
            </li>
            {{end}}
    
          </ul>
      </div>
  </div>